spec:
  inputs:
    source_dir:
    base_ref:
      type: string 
      default: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME
    head_ref:
      type: string 
      default: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME
    fail_on_breaking:
      type: string
      default: "true"
      description: "If true, pipeline fails on breaking changes. If false, breaking changes are reported and then passed"
---

.autoGuard:
  image: "docker:latest"
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2

  before_script:
    - docker pull alexx882/auto-oas:1.2
    - docker pull openapitools/openapi-diff:latest
    - apk add --no-cache git
  script: 
    - git fetch --all

    - git checkout $[[inputs.base_ref]]
    - docker run -v "$(pwd)/$[[ inputs.source_dir ]]":/project alexx882/auto-oas:1.2 /project /project/autooas-$[[inputs.base_ref]]/oas

    - git checkout $[[inputs.head_ref]]
    - docker run -v "$(pwd)/$[[ inputs.source_dir ]]":/project alexx882/auto-oas:1.2 /project /project/autooas-$[[inputs.head_ref]]/oas


    - |
      OLD_DIR=autooas-$[[inputs.base_ref]]
      NEW_DIR=autooas-$[[inputs.head_ref]]

      EMPTY_OAS='{  "openapi" : "3.0.1",  "info" : {    "title" : "",    "description" : "Spring Profile: ???",    "version" : ""  },  "paths" : {  },    "components" : {    "schemas" : {    }  }}'
      echo $EMPTY_OAS > empty.json
      
      OLD_FILES=$(find "$OLD_DIR" -type f | sed "s|$OLD_DIR/||" | sort)
      NEW_FILES=$(find "$NEW_DIR" -type f | sed "s|$NEW_DIR/||" | sort)

      printf "%s\n" $OLD_FILES > old_files
      printf "%s\n" $NEW_FILES > new_files
    
      COMMON_FILES=$(comm -12 old_files new_files)
      OTHER_FILES=$(comm -3 old_files new_files)

      STATUS=0

      mkdir -p oas_diff

      run_diff() {
        local name=$1
        local old_path=$2
        local new_path=$3

        echo "Diffing $name..."

        set +e

        docker run --rm \
          -v "$(pwd):/specs" \
          openapitools/openapi-diff:latest \
          --fail-on-incompatible \
          --html "/specs/oas_diff/$name.html" \
          --markdown "/specs/oas_diff/$name.md" \
          "/specs/$old_path" "/specs/$new_path"

        EXIT_CODE=$?

        set -e

        if [ $EXIT_CODE -ne 0 ]; then
          echo -e "\e[31mBreaking change detected in $name\e[0m"
          return 1
        fi
        return 0
      }
      
      
      for p in $COMMON_FILES; do
        run_diff "$p" "$OLD_DIR/$p" $NEW_DIR/$p
        STATUS=$((STATUS + $?))
      done

      for p in $OTHER_FILES; do
        if [ -f "$OLD_DIR/$p" ]; then
          run_diff "$p" "$OLD_DIR/$p" "empty.json"
        else
          run_diff "$p" "empty.json" "$NEW_DIR/$p"
        fi
        STATUS=$((STATUS + $?))
      done

      if [ $STATUS -gt 0 ]; then
        echo -e "\e[31mTotal breaking changes: $STATUS\e[0m"
        if [[ "$[[ inputs.fail_on_breaking ]]" == "true" ]]; then
          echo "Fail on breaking is ENABLED. Failing job."
          exit 1
        else
          echo "Fail on breaking is DISABLED. Job passes with warnings."
          exit 0
        fi
      else
        echo -e "\e[32mNo breaking changes found.\e[0m"
        exit 0
      fi

  artifacts:
    when: always
    name: "OpenAPI specifications"
    paths:
      - "autooas-$[[inputs.base_ref]]/oas*"
      - "autooas-$[[inputs.head_ref]]/oas*"
      - "oas_diff/*"
